* {
  /* border: 1px solid; */
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

#container {
  width: 600px;
  margin: 0 auto; 
  position: relative;
  top: 198px;
}

#logo {
  display: block;
  width: 272px;
  margin: 0 auto;
}

#search-buttons {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

button {
  background-color: #f2f2f2;
  color: #757575;
  height: 34px;
  width: 119px;
  margin: 11px 4px;
  border: 1px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  font-weight: bold;
}

#search-box {
  display: block;
  width: 584px;
  height: 44px;
  margin: 34px auto;
  box-shadow: 1px 2px 2px #d2d2d2;
  border: 1px solid #d2d2d2;
}

#search-box-input {
  margin: 8px 5px;
  width: 85%;
  height: 25px;
  float: left;
  border: none;
  outline: none;
}

#voice-search {
  float: right;
  margin: 11px 20px;
  width: 14px;
  display: inline;
}

nav ul, footer ul {
  list-style-type: none;
  float: right;
}

nav li, footer li {
  display: inline;
}

nav li img {
  width: 15px;
}

#sign-in button {
  background-color: rgb(66, 133, 244);
  color: white;
  width: 69.34px;
  height: 30px;
  border-radius: 6%;
  padding-left: 8px;
  padding-right: 8px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul.at-left {
  float: left;
}

footer ul.at-right {
  float: right;
}
